@charset "utf-8";
/* CSS Document */

songs{
        background-color: #b9b9c0;
        margin-left: 3rem;
    }

song{
        display:block; 
        padding : 8px 0;
        font-size: 18px;

    }
song title {font-size: 20px; font-weight: 700;}
song artistName::before {content: "Artist(s): ";}
song musicGenre::before {content: "Genre: ";}
song releaseYear::before {content: "Release Year:";}
song artistName {display:block;}
song releaseYear {display:block;}